APP_ENV=local
DB_HOST=localhost
DB_PORT=5432
DB_USER=USER
DB_PASSWORD=PASSWORD
DB_NAME=esd_db
DB_SCHEMA=invoice_schema

TRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
BILLING_SERVICE_URL=http://localhost:5005