APP_ENV=local
DB_HOST=localhost
DB_PORT=5432
DB_USER=USER
DB_PASSWORD=PASSWORD
DB_NAME=esd_db
DB_SCHEMA=payment_schema

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
MAKE_PAYMENT_SERVICE_URL=http://localhost:5008
