APP_ENV=local
INVOICE_SERVICE_URL=http://localhost:5003
PAYMENT_SERVICE_URL=http://localhost:5004
RECORDS_SERVICE_URL=http://localhost:5006
HTTP_TIMEOUT_SECONDS=8
DEFAULT_CURRENCY=sgd
NOTIFICATION_PHONE_NUMBER=+6588888888

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_QUEUE=notification.payment.success
