APP_ENV=local
INVOICE_SERVICE_URL=http://localhost:5003
PAYMENT_SERVICE_URL=http://localhost:5004
RECORDS_SERVICE_URL=https://personal-iipxahjd.outsystemscloud.com/ClinicalRecordServices/rest/RecordsAPI
PATIENT_SERVICE_URL=https://personal-wv4mxqur.outsystemscloud.com/PatientService/rest/PatientAPI
HTTP_TIMEOUT_SECONDS=8
DEFAULT_CURRENCY=sgd

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_QUEUE=notification.payment.success
INTERNAL_API_KEY=changeme-dev-key
