APP_ENV=docker
PORT=5007
DRUG_CATALOGUE_URL=http://drug_service:5001
INVOICE_SERVICE_URL=http://invoice_service:5003
PRESCRIPTION_SERVICE_URL=http://prescription_service:5005
CLINICAL_RECORDS_URL=http://record_service:5006
CLINICAL_RECORD_VALIDATE_PATH=/record/{recordId}
CLINICAL_RECORDS_REQUIRED=false
HTTP_TIMEOUT_SECONDS=8
