APP_ENV=local
PORT=5007
DRUG_CATALOGUE_URL=http://localhost:5001
INVOICE_SERVICE_URL=http://localhost:5003
PRESCRIPTION_SERVICE_URL=http://localhost:5005
CLINICAL_RECORDS_URL=YOUR_CLINICAL_RECORDS_URL
CLINICAL_RECORD_VALIDATE_PATH=/record/id/{recordId}
CLINICAL_RECORDS_REQUIRED=false
HTTP_TIMEOUT_SECONDS=8
